body {
    margin: 0;
}

#app {
}

input {
    border: 1px solid #ccc;
    height: 30px;
    border-radius: 10px;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}